<a href="https://colab.research.google.com/github/gitlogopolis/ciencia-de-datos/blob/main/4_Groupby_obtener_informaci%C3%B3n_esencial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
from google.colab import files
 
 
uploaded = files.upload()

Saving 2008-3.csv to 2008-3.csv

In [ ]:
df = pd.read_csv("2008-3.csv")

In [ ]:
df.groupby(by = "DayOfWeek")["ArrDelay"].max() #Agrupa por cada dia de la semana el maximo de los retrasos

DayOfWeek
1    1146.0
2    1057.0
3     876.0
4    1094.0
5    1032.0
6     794.0
7    1147.0
Name: ArrDelay, dtype: float64

In [ ]:
df.groupby(by = "DayOfWeek")["ArrDelay"].mean() #La media

DayOfWeek
1    11.407647
2    11.656277
3     7.720652
4    14.429853
5     9.980668
6     6.773281
7    10.695350
Name: ArrDelay, dtype: float64

In [ ]:
df.groupby(by = "DayOfWeek")["ArrDelay"].min() #El minimo

DayOfWeek
1   -80.0
2   -68.0
3   -66.0
4   -67.0
5   -86.0
6   -91.0
7   -66.0
Name: ArrDelay, dtype: float64

In [ ]:
df.groupby(by = "DayOfWeek")["ArrDelay"].count() #Podemos ver que el fin de semana hay menos vuelos

DayOfWeek
1    64237
2    77510
3    80856
4    81793
5    65643
6    52779
7    60814
Name: ArrDelay, dtype: int64

In [ ]:
df.groupby(by = "DayOfWeek")["ArrDelay"].describe()  #muestra información más detallada

             count       mean        std   min   25%  50%   75%     max
DayOfWeek
1          64237.0  11.407647  43.383578 -80.0 -10.0 -1.0  15.0  1146.0
2          77510.0  11.656277  41.160894 -68.0  -9.0  0.0  16.0  1057.0
3          80856.0   7.720652  35.855972 -66.0 -10.0 -2.0  12.0   876.0
4          81793.0  14.429853  43.135807 -67.0  -8.0  2.0  20.0  1094.0
5          65643.0   9.980668  38.146976 -86.0  -9.0  0.0  15.0  1032.0
6          52779.0   6.773281  36.509303 -91.0 -11.0 -3.0  11.0   794.0
7          60814.0  10.695350  41.596315 -66.0 -10.0  0.0  16.0  1147.0

In [ ]:
df.groupby(by = "DayOfWeek")["ArrDelay","DepDelay"].mean() #muestra el valor de dos columnas para comparar valores requeridos

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

            ArrDelay   DepDelay
DayOfWeek
1          11.407647  12.470498
2          11.656277  12.121853
3           7.720652   9.531653
4          14.429853  14.335741
5           9.980668  11.396481
6           6.773281   9.366651
7          10.695350  12.921379

In [ ]:
df.groupby(by = "DayOfWeek")["ArrDelay"].max() - df.groupby(by = "DayOfWeek")["ArrDelay"].min() #muestra la mayor distancia es el jueves y la mínima el miércoles

DayOfWeek
1    1226.0
2    1125.0
3     942.0
4    1161.0
5    1118.0
6     885.0
7    1213.0
Name: ArrDelay, dtype: float64

In [ ]:
dfATLHOU = df[df.Origin.isin(["ATL","HOU"])] #crea un DF con valores agrupado por la columna Origin que sean iguales a ATL y HOU

In [ ]:
dfATLHOU.groupby(by = ["DayOfWeek", "Origin"])["ArrDelay"].mean() #Agrupa por cada dia de la semana y origen la media de los retrasos

DayOfWeek  Origin
1          ATL        5.911905
           HOU        1.962617
2          ATL        4.946368
           HOU        3.680000
3          ATL       13.330851
           HOU        6.258883
4          ATL       14.575877
           HOU       21.185515
5          ATL        5.714996
           HOU        6.744186
6          ATL       12.807074
           HOU       -0.505618
7          ATL        6.088750
           HOU        8.386926
Name: ArrDelay, dtype: float64

In [ ]:
mygroupby = dfATLHOU.groupby(by = ["DayOfWeek", "Origin"])["ArrDelay"]  #Se puede utilizar una variable para guardar el resultado de un groupby

In [ ]:
mygroupby.describe() #muestra información más detallada del groupby

                   count       mean        std   min   25%  50%    75%    max
DayOfWeek Origin
1         ATL     3553.0   5.911905  30.048363 -34.0  -9.0 -2.0  10.00  321.0
          HOU      642.0   1.962617  21.158311 -27.0  -8.0 -3.0   4.00  212.0
2         ATL     4158.0   4.946368  25.278716 -51.0  -9.0 -2.0  11.00  230.0
          HOU      750.0   3.680000  25.076790 -28.0  -8.0 -2.0   7.75  341.0
3         ATL     4431.0  13.330851  52.341104 -46.0  -9.0 -1.0  14.00  876.0
          HOU      788.0   6.258883  22.798359 -30.0  -6.0  0.0  10.00  150.0
4         ATL     4560.0  14.575877  36.134931 -44.0  -7.0  5.0  24.00  571.0
          HOU      787.0  21.185515  45.491616 -25.0  -3.0  4.0  26.00  292.0
5         ATL     3621.0   5.714996  24.798870 -37.0  -9.0  0.0  12.00  261.0
          HOU      645.0   6.744186  22.893990 -27.0  -5.0  1.0  12.00  232.0
6         ATL     2488.0  12.807074  48.497420 -47.0 -12.0 -3.0  13.00  348.0
          HOU      445.0  -0.505618  18.461381 -32.0  -9.0 -4.0   4.00  160.0
7         ATL     3369.0   6.088750  27.502011 -40.0  -9.0  0.0  13.00  322.0
          HOU      566.0   8.386926  30.866033 -28.0  -6.0  1.0  11.00  383.0